.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 20px;
}
*{

background-repeat:round;
}
button{
    border-radius: 5px;
    padding: 20px;
    background-color:aqua !important;
}
input{
    border-radius: 2px;
    padding: 2px;
}
